{% extends 'base.html' %}

{% block title %}
    Login page
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center mb-4">Login</h1>
                <form method="post" action="/login" class="my-4 p-4 border rounded">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                {% if error %}
                    <div class="alert alert-danger mt-3">
                        {{ error }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}