{% extends 'base.html' %}

{% block title %}
    News
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">News</h1>
        <form method="post" action="/news">
            <div class="form-group">
                <label for="username" class="form-label"></label>
                <input type="text" class="form-control" placeholder="Username" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="text" class="form-label"></label>
                <input type="text" class="form-control" placeholder="Write something..." id="text" name="text" required>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
        <ul class="list-group mt-3">
            {% for text in news %}
                <li class="list-group-item"><b>{{ text.username  }}</b> - {{ text.text }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}